{% load static %}
<title>AgroNect Innovative Solutions</title>
<link rel="stylesheet" type="text/css" href="{% static 'landingPage/index.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1">



<header class="header">
  <div class="header-text">Sign in via:</div>
  <a href="#" class="header-link">Email</a>
  <a href="#" class="header-link">Facebook</a>
</header>

<section class="landing-section landing-main">
  <h1 class="brand">AGN</h1>
  <h2>
    <span class="brand-text">Agro</span>Nect
    <span class="brand-text">N</span>otifications
  </h2>
  <p class="landing-main-text">
    Got tired of missing out Opportunities available to you as a Farmer?
    <br>
	And getting Your Products to the market
    You have found a perfect solution...
  </p>
</section>

<section class="landing-section langing-features">
  <section class="landing-feature feature-music-services">
    <h2>Connect to Companies that provides <span class="brand-text">equipment</span> and agro-growth services</h2>
    <ul>
      <li>ThEndomitable</li>
      <li>Deezers Companies</li>
    </ul>
  </section>
  <section class="landing-feature feature-notifications">
    <h2>Get <span class="brand-text">n</span>otifications wherever you want them</h2>
    <ul>
      <li>Email</li>
      <li>Telegram</li>
    </ul>
  </section>
</section>